<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="mt-5"><h2>プロフィール編集</h2></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <%= form_with model: @customer, url: customer_path, local:true do |f| %>
    <div class="text-danger"><%= render 'layouts/errors', obj:@customer %></div>
    <table class="col mt-3 " cellpadding="15">
        <td>プロフィール画像</td>
        <td><%= f.file_field :customer_image, placeholder: "プロフィール画像" %></td>
      </tr>
      <tr>
        <td>ニックネーム</td>
        <td><%= f.text_field :nickname, autofocus: true, placeholder:"ニックネーム"%></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td><%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介文" %></td>
      </tr>
      <tr>
        <td></td>
        <td>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit '保存', class: 'btn btn-success px-4' %>
          <%= link_to "退会", destroy_confirm_path(@customer), class: 'btn btn-danger px-4' %>
        </td>
      </tr>
    </table>
    <% end %>
    <div class="col"></div>
  </div>
</div>