<h3 class="text-center mt-5"><%= @genre.genre_name %>の編集</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <table class="col" cellpadding="15">
      <%= form_with model: @genre, url: admins_genre_path, local:true do |f| %>
      <tr>
        <td>ジャンル名</td>
        <td><%= f.text_field :genre_name, autofocus: true,　placeholder: "ジャンル名" %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= link_to "削除", admins_genre_path(@genre), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger px-4' %>
          <%= f.submit '保存', class: 'btn btn-success px-4' %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="col"></div>
  </div>
</div>