<h3 class="text-center"><%= @genre.genre_name %>の編集</h3>
<table align="center" class="mt-3" cellpadding="15">
  <%= form_with model: @genre, local:true do |f| %>
  <tr>
    <td>ジャンル名</td>
    <td><%= f.text_field :genre_name, autofocus: true,　placeholder: "ジャンル名" %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit '保存', class: 'btn btn-success px-4' %></td>
  </tr>
  <tr>
    <td></td>
    <th><%= link_to "削除", admins_genre_path(@genre), method: :delete, "date-confirm" => "本当に削除しますか？" %></th>
  </tr>
  <% end %>
</table>