<h3 class="text-center mt-5">ジャンル追加</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="mt-2">
      <%= form_with model: @genre, url: admins_genres_path, local: true do |f| %>
      <%= f.text_field :genre_name, placeholder: "ジャンル名" %>
      <%= f.submit "新規登録",class: 'btn btn-sm btn-success px-4' %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>
<h3 class="text-center mt-5">ジャンル一覧</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <table>
      <% @genres.each do |genre| %>
      <tr>
        <td height="50"><%= genre.genre_name %></td>
        <td><%= link_to "編集", edit_admins_genre_path(genre) %></td>
      </tr>
      <% end %>
    </table>
    <div class="col"></div>
  </div>
</div>
<div class="pagination not mt-5"><%= paginate @genres %></div>