<div class="mt-2">
  <%= form_with(model:[cuisine, cuisine_comments], remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
  <% end %>
</div>

<table>
    <% cuisine.cuisine_comments.each do |cuisine_comment| %>
    <tr width="200">
      <td>
        <%= link_to customer_path(cuisine_comment.customer) do %>
        <%= cuisine_comment.customer.name %>
        <% end %>
        <%= cuisine_comment.created_at.strftime('%Y/%m/%d') %>
        <%= cuisine_comment.comment %>
      </td>
    </tr>
    <% end %>
  </table>