<h3 class="title"><%= @genre.genre_name %></h3>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <table class="table col">
      <% @cuisines.each do |cuisine| %>
        <tr>
          <td height="130">
            <%= attachment_image_tag cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %>
          </td>
          <td>
            <%= link_to cuisine_path(cuisine) do %>
            <%= cuisine.cuisine_name %>
            <% end %>
          </td>
          <td>
            <%= cuisine.time %>分
          </td>
        </tr>
        <% end %>
    </table>
    <%= paginate @cuisines %>
    <div class="col"></div>
  </div>
</div>


