<h3><%= @genre.genre_name %>一覧</h3>
<table>
  <% @cuisines.each do |cuisine| %>
    <tr>
      <td>
        <%= attachment_image_tag cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %>
      </td>
      <td>
        <%= link_to cuisine_path(cuisine) do %>
        <%= cuisine.cuisine_name %>
        <% end %>
      </td>
      <td>
        <%= cuisine.time %>分
      </td>
    </tr>
    <% end %>
</table>
<%= paginate @cuisines %>


