<h3 class="text-center mt-5">料理の一覧</h3>
<div class="ontainer-fluid">
  <div class="row">
    <div class="col"></div>
    <table class="col">
      <% @cuisines.each do |cuisine| %>
      <tr>
        <td><%= attachment_image_tag cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %></td>
        <td>
          <%= link_to admins_cuisine_path(cuisine) do %>
          <%= cuisine.cuisine_name %>
          <% end %>
        </td>
        <td>調理時間</td>
        <td><%= cuisine.time %>分</td>
      </tr>
      <% end %>
    </table>
    <div class="col"></div>
  </div>
</div>
<div class="pagination not mt-5"><%= paginate @cuisines %></div>