<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <table>
      <tr>
        <td>
          <h3 class="col mt-5 mb-5 text-left font">料理一覧</h3>
        </td>
        <td>
          <%= link_to "人気順", cuisines_path(order_sort: 0) %>
          |
          <%= link_to "通常", cuisines_path %>
        </td>
      </tr>
    </table>
    <div class="col"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <table class="table col-5">
      <% @cuisines.each do |cuisine| %>
      <tr height="130">
        <td><%= attachment_image_tag cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %></td>
        <td width="120">
          <%= link_to cuisine_path(cuisine) do %>
          <%= cuisine.cuisine_name %>
          <% end %>
        </td>
        <td><%= cuisine.time %>分</td>
        <td>
          <% if customer_signed_in? %>
          <div id=<%= "cuisine_buttons_#{ cuisine.id }" %>>
            <%= render 'public/cuisine_favorites/favorites', cuisine: cuisine %>
          </div>
          <% else %>
            <span class="fas fa-heart like-btn"><%= cuisine.cuisine_favorites.count %></span>
          <% end %>
        </td>
        <td class="far fa-comment-dots">
          <%= cuisine.cuisine_comments.count %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="col"><%= render 'public/genres/index', genres: @genres %></div>
    <div class="col"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div><%= paginate @cuisines %></div>
    <div class="col"></div>
  </div>
</div>
