<h3>料理一覧</h3>
<table>
  <% @cuisines.each do |cuisine| %>
    <tr>
      <td>
        <%= attachment_image_tag cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %>
      </td>
      <td>
        <%= link_to cuisine_path(cuisine) do %>
        <%= cuisine.cuisine_name %>
        <% end %>
      </td>
      <td>
        <%= cuisine.time %>分
      </td>
      <td>
        <% if customer_signed_in? %>
          <%= render 'public/cuisine_favorites/favorites', cuisine: cuisine %>
        <% else %>
          <span class="fas fa-heart heart_red"><%= cuisine.cuisine_favorites.count %></span>
        <% end %>
      </td>
      <td>コメント件数：<%= cuisine.cuisine_comments.count %></td>
    </tr>
    <% end %>
</table>
<%= paginate @cuisines %>
<h5>ジャンル一覧</h5>
<table>
  <% @genres.each do |genre| %>
  <tr>
    <td>
      <%= link_to genre_path(genre) do %>
      <%= genre.genre_name %>
      <% end %>
    </td>
  </tr>
   <% end %>
</table>
<%= paginate @genres %>
