<h3>料理詳細</h3>
<div>
  <div>
    <div>
      <%= attachment_image_tag @cuisine, :cuisine_image_id, :fill, 100, 100, format: 'jpeg' %>
    </div>
    <div>
      <%= @cuisine.cuisine_name %>
    </div>
    <div>
      <%= @cuisine.time %>分
    </div>
    <div>
      <%= @cuisine.introduction %>分
    </div>
  </div>
</div>

<h3>ジャンル一覧</h3>
<table>
  <% @genres.each do |genre| %>
  <tr>
    <td>
      <%= link_to genre_path(genre) do %>
      <%= genre.genre_name %>
      <% end %>
    </td>
  </tr>
   <% end %>
</table>
<div class="comments">
<p>コメント件数：<%= @cuisine.cuisine_comments.count %></p>
</div>
<div class="new-comment">
<%= form_with(model:[@cuisine, @cuisine_comments], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<div>
  <% @cuisine.cuisine_comments.each do |cuisine_comment| %>
  <%= cuisine_comment.customer.name %>
  <%= cuisine_comment.created_at.strftime('%Y/%m/%d') %><%= cuisine_comment.comment %>
  <% end %>
</div>