<h3>料理詳細</h3>
<div>
  <div>
    <div>
      <%= attachment_image_tag @cuisine, :cuisine_image, :fill, 100, 100, format: 'jpeg' %>
    </div>
    <div>
      <%= @cuisine.cuisine_name %>
    </div>
    <div>
      <%= @cuisine.time %>分
    </div>
    <div>
      <%= @cuisine.material_introduction %>
    </div>
    <div>
      <%= @cuisine.introduction %>
    </div>
    <% if customer_signed_in? %>
      <div id = <%= "cuisine_#{ @cuisine.id }" %>>
        <%= render 'public/cuisine_favorites/favorites', cuisine: @cuisine %>
      </div>
    <% else %>
      <span class="fas fa-heart heart_red"><%= @cuisine.cuisine_favorites.count %></span>
    <% end %>
    <div>
      <% if customer_signed_in? %>
      <%= link_to "編集", edit_cuisine_path, class: 'btn btn-success px-4' %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

<h3>ジャンル一覧</h3>
<table>
  <% @genres.each do |genre| %>
  <tr>
    <td>
      <%= link_to genre_path(genre) do %>
      <%= genre.genre_name %>
      <% end %>
    </td>
  </tr>
   <% end %>
</table>
<div id = <%= "cuisine_#{ @cuisine.id }" %>>
  <%= render 'public/cuisine_comments/comments_form', cuisine: @cuisine, cuisine_comments: @cuisine_comments %>
</div>
<table>
  <%= render 'public/cuisine_comments/comments_index', cuisine: @cuisine %>
</table>
